// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use '../abstracts/typography' as t;

/**
 * Set the rem ref relative to browser settings.
 */
html {
  font-size: 1em;
}

body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  font-family: t.$font-body;
  font-weight: t.$font-medium;
}
