@use '../abstracts/typography' as t;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/placeholders' as p;

%paragraph {
  font-size: t.$font-body-lg;
  font-weight: t.$font-medium;
  line-height: 1.33;
}

h1 {
  font-size: t.$font-heading-xs;
  font-weight: t.$font-bold;
  letter-spacing: -1px;
  line-height: 0.8;
  color: c.$color-primary;
  @include m.screen-min('sm') {
    font-size: t.$font-heading-sm;
  }
}

p {
  @extend %paragraph;

  &.hero__description {
    color: c.$color-primary-dark;
    letter-spacing: -1px;
  }

  &.rating__description {
    color: c.$color-primary;
    font-weight: t.$font-bold;
    letter-spacing: 0px;
  }

  &.user-name {
    font-weight: t.$font-bold;
  }

  &.user-status {
    color: c.$color-accent;
    font-size: t.$font-body-sm;
    font-weight: t.$font-regular;
    line-height: 1.43;
  }

  &.user-testimonial {
    font-size: t.$font-body-md;
    font-weight: t.$font-regular;
    line-height: 1.25;
  }

  &.footer {
    color: c.$color-primary-dark;
    font-size: t.$font-body-sm;
    font-weight: t.$font-regular;
    line-height: 1.43;
  }
}

a {
  color: c.$color-accent;
}
