// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// System derived from Material Design reponsive layout grid:
//  xs: 0px <= phone < 640px with 4 columns grid layout, fluid body and 16px fixed margins
//  sm: 640px <= tablet < 905px with 8 columns grid layout, fluid body and 32px fixed margins
//  md: 905px <= tablet < 1240px with 12 columns grid layout, fluid body and 64px fixed margins
//  lg: 1240px <= laptop < 1440px with 12 columns grid layout, fluid body and 120px fixed margins
//  xl: >= 1440px with 12 columns grid layout, fixed body's max-width 1200px and fluid margins
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Prefer using relative em unit instead of absolute px unit for media queries:
//  em is the only unit that performs consistently across all browsers
//  em is the only unit that allows to support users who change their browser’s font-size value
//  Source: https://zellwk.com/blog/media-query-units/
// -----------------------------------------------------------------------------

/// @type Length
$screen-xs: 0em !default;
$screen-sm: 40em !default; // 640px
$screen-md: 56.5625em !default; // 905px
$screen-lg: 77.5em !default; // 1240px
$screen-xl: 90em !default; // 1440px

/// @prop {String} keys - Screen size labels
/// @prop {Map} values - Screen sizes in pixels
$breakpoints: (
  'xs': $screen-xs,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl,
) !default;
