// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type Color
$color-accent: #ee68a4 !default; // accent color - soft pink
$color-primary: #502050 !default; // main brand color - very dark magenta
$color-primary-dark: #937b92 !default; // primary dark tone color - dark grayish magenta
$color-primary-light: #f7f2f7 !default; // primary ligth tone - light grayish magenta
$color-neutral-50: white !default; // neutral color
