// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type Color
$color-accent: #f96dac !default; // accent color - soft pink
$color-accent-dark: #b44d7c !default; // accent dark tone color
$color-primary: #502050 !default; // main brand color - very dark magenta
$color-primary-dark: #846e83 !default; // primary dark tone color - dark grayish magenta
$color-primary-light: #f7f2f7 !default; // primary ligth tone - light grayish magenta
$color-complementary: #41853a !default; // complementary green color
$color-neutral-50: white !default; // neutral color
