// -----------------------------------------------------------------------------
// This file contains application-wide Sass variables.
// -----------------------------------------------------------------------------

$spacing-base: 4px !default;

$grid-padding: 20 * $spacing-base 0px !default;
$grid-vertical-flow: 14 * $spacing-base !default;
